.image {
  width: 40px;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  // border: 1px solid rgb(185 185 185);
  border-radius: 30px;
  padding: 5px 15px;
  background-color: rgb(231 231 231);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 35px;
  gap: 50px;
}
