.container {
  display: flex;
  flex-direction: column;
  height: max-content;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  line-height: 0.9;
  color: #00afbd;

  @media (max-width: 850px) {
    align-items: center;
    padding: 5px;
    text-align: center;
  }
}

.topText {
  font-size: 5rem;

  @media (max-width: 1100px) {
    font-size: 3.5rem;
    color: #28233a;
  }

  @media (max-width: 500px) {
    font-size: 2rem;
  }
}

.bottomText {
  font-size: 3rem;

  @media (max-width: 1100px) {
    font-size: 2rem;
    color: rgba(0 0 0 / 55%);
  }

  @media (max-width: 1100px) {
    display: none;
  }
}
