.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
}

.img {
  width: 150px;
  object-fit: contain;
}

.card {
  // display: flex;
  // flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  max-width: 250px;
  box-shadow: -2px 14px 9px -14px rgb(0 0 0 / 22%);
  background-color: #f6f6f6;
  gap: 10px;

  &:hover {
    cursor: pointer;
  }
}

.divider {
  font-weight: 300;
  color: rgb(91 91 91);
}
