.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 75px;
  color: rgb(255 255 255);
  background-color: rgb(66 67 66);
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  max-width: 1400px;
}

.footer {
  text-align: center;
  color: rgb(0 0 0);
}
