.caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 75px;
  background-color: rgb(53 171 215);
}

.text {
  font-weight: 100;
}

.h1 {
  font-weight: 500;
}
