.wrapper {
  position: fixed;
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;
  display: flex;
  overflow-y: scroll;
  border-radius: 5px;
  padding: 30px;
  width: 80%;
  height: 80%;
  background: rgb(255 255 255);
  transform: translate(-50%, -50%);
}
