.container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 40px;
  width: 100%;
  height: 500px;
  max-width: 1150px;
  background: no-repeat url("../../assets/doctor-main.jpg");
  background-position: right;
  background-size: 57%;
}
