.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 30px;
  width: 100%;
  height: max-content;
  min-height: 500px;
  max-width: 1150px;
  background: no-repeat url("../../assets/doctors_2.png");
  background-position: right;
  background-size: 50%;

  @media (max-width: 1100px) {
    justify-content: center;
    min-height: 400px;
    background-position: top;
    background-size: 100%;
  }
}

.leftContainer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 100px;

  @media (max-width: 1100px) {
    gap: 20px;
  }
}
