@import url("./scss/normalize.scss");
@import url("./scss/variables.scss");
@import "./scss/variables";

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    "source-code-pro",
    "Menlo",
    "Monaco",
    "Consolas",
    "Courier New",
    monospace;
}

.active-link {
  font-weight: 500;
  cursor: default;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
